@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --font: "Roboto", sans-serif;
  --body-background: #e1e7ee;
  --header-background: #d3e2e4;
  /* --text-color: #fff; */
  --padding: 1rem;
}

body {
  line-height: 1.5;
  background: var(--body-background);
  font-family: var(--font);
  color: var(--text-color);
}

header {
  padding: var(--padding);
  background: var(--header-background);
}

header p {
  max-width: 60ch;
}

button {
  display: block;
  min-height: 2.5rem;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem auto;
}

.main-content {
  padding: var(--padding);
}

.main-content div:nth-of-type(even) {
  background: var(--header-background);
}

@media (min-width: 768px) {
  button {
    min-height: 3rem;
    width: 40%;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 2rem 0 2rem 0.8rem;
  }
}
