@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --font: "Roboto", sans-serif;
  --body-background: lightslategray;
  --header-background: darkred;
  --text-color: #fff;
  --padding: 1rem;
}

body {
  background: var(--body-background);
  font-family: var(--font);
  color: var(--text-color);
}

header {
  padding: var(--padding);
  background: var(--header-background);
}
