@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --font: "Roboto", sans-serif;
  --body-background: #e1e7ee;
  --header-background: #d3e2e4;
  /* --text-color: #fff; */
  --padding: 1rem;
}

body {
  line-height: 1.5;
  background: var(--body-background);
  font-family: var(--font);
  color: var(--text-color);
}

header {
  padding: var(--padding);
  background: var(--header-background);
}

button {
  display: block;
  min-height: 2rem;
  min-width: 30%;
  font-size: 1.2rem;
  margin: 1rem;
}

.main-content {
  padding: var(--padding);
}

.main-content div:nth-of-type(even) {
  background: var(--header-background);
}
